@media screen and (max-width:768px){

    .wrapper{
       Max-width: 600px;
       margin: 0 auto;
    } 
/*******************************************************************************************************************************************************/

/*************menu burger**************************************************************************************************************************************************************/

    #burger{
        display:block; 
    }
    #burger span{
        color: var(--color2);
    }
    #menu .menu_haut{
        display: none;
    }
    #burger:target{
        position:static;
        top: 0;
        left: 0;
    }
    #menu:target ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 25% 0;
        height: 100vh;
        position:fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color:var(--color3);
    }
    #menu:target a{
        background:var(--color3);
        padding:25px;
        color: var(--color4);
        width: 100%;
    }
    #header .menu_haut li{
        width:70%;
        text-align:center;
         }
    #menu:target #burger{
        display: none;
    }
    #menu:target a:hover{
        background: rgb(236, 17, 17);
    }
    #menu:target #fermer{
        display: block;
        position:fixed;
        z-index: 10000;
        top: 60px;
        right: 0%;
        transform: translate(-50%,0);
        color: var(--color3);
    }
    #menu:target #fermer a{
        background:none;
        color: var(--color4);
    }
/*******************************************************************************************************************************************************/

/*********HEADER****************************************************************************************************************************************************************/
    #header{
       width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #header .Home{
        width: 90%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
/*******************************************************************************************************************************************************/

/*******welcom***************************************************************************************************************************************************************/

    #welcom{
        margin-top: 50px ;
        height: 110vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 100px;
          }
    #welcom .welcom_block1 .welcom_pastille{
        top: -30px;
        left: 250px;
        height: 100px;
        width: 100px;
        padding: 10px;
        }
    #welcom .welcom_block1 .welcom_pastille .pastille_nombre{
        font-size: 2rem;
    }
    #welcom .welcom_block1 .welcom_pastille .pastille_text{
        font-size: 10px;
    }
    #welcom .welcom_block2 h1{ 
        font-size: 2rem;    
    }
    #welcom .welcom_block2 h1 br{
        display: none;
    }
    #welcom .welcom_block2 p{
        margin-bottom: 40px;
    }
/*******************************************************************************************************************************************************/

/*******services & pricing*********************************************************************************************************************************************************/

    #services{   
        height:110vh;
    }
    #services .services_article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
     }
    #services .service_article_3{
        display: none;
    }
/*******************************************************************************************************************************************************/

/*******Hair style*************************************************************************************************************************************************************/

    #hair_style{ 
        height:70vh;
}
/*******************************************************************************************************************************************************/

/*******more service**************************************************************************************************************************************************************/

    #more_service{
        height:120vh;
    }
    #more_service .more_services_articles{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
/*******************************************************************************************************************************************************/

/********client****************************************************************************************************************************************************************/

    #client{
        height:130vh;
    }
    #client .top_client{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 250px);
        row-gap: 20px;
    }
/*******************************************************************************************************************************************************/

/*************blog********************************************************************************************************************************************************/

          #blog{
            height: 130vh;
        }
        #blog .our_blog_article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 450px);
        row-gap: 20px;


        }
/*******************************************************************************************************************************************************/

/**********footer***************************************************************************************************************************************************************/

        #footer{
            padding-top: 100px;
        
            background-color: black;
            height: 150vh;
            width: 100%;
          }
        #footer .footer{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px; 
          }
          #footer .footer img{
            width: 100%;
            }
          #footer .footer .us .input{
            width: 80%;
          }
          #footer .footer .us .send{
            width: 17%;
          }
        
}
/*******************************************************************************************************************************************************/
/********************responcive telephone*************************************************************************************************************************************************************/
/*******************************************************************************************************************************************************/

@media screen and (max-width:480px){
    .wrapper{
        Max-width: 400px;
        margin: 0 auto;
    } 
/*******************************************************************************************************************************************************/

/*********welcom***************************************************************************************************************************************************************/

    #welcom .welcom_block1 .welcom_pastille{
        top: -30px;
        left: 150px;    
    } 
/*******************************************************************************************************************************************************/
   
/***********Service & Princing***************************************************************************************************************************************************************/

    #services .services_article{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
     }

    #services .service_article_3,
    #services .service_article_2{
        display: none;
    }
/*******************************************************************************************************************************************************/

/*********haire & style********************************************************************************************************************************************************************/

    #hair_style{
        width: 100%;
        height:170vh;
    }
    #hair_style .style{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 350px);
        grid-gap: 20px;
    }
/*******************************************************************************************************************************************************/

/**********more services*******************************************************************************************************************************************************************/

    #more_service{
        height:210vh;
    }
    #more_service .more_services_articles{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 250px);
    }
/*******************************************************************************************************************************************************/

/*******blog********************************************************************************************************************************************************************/

    #blog{
        height: 200vh;
    }
    #blog .our_blog_article {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 450px);
    row-gap: 20px;
     }
/*******************************************************************************************************************************************************/

/*******footer********************************************************************************************************************************************************************/

     #footer .footer .us .input{
        width: 70%;
      }
      #footer .footer .us .send{
        width: 17%;
      }
}
/*******************************************************************************************************************************************************/
/*******************************************************************************************************************************************************/

