/**********variable***********/
:root{
    --color1:rgb(220,53,69);
    --color2:rgb(245,245,245);
    --color3:rgb(204,204,204);
    --color4:rgb(54,77,89);
    --padding_h:10%;
    --padding_v:50px;
    }